

<div class="container">
  <div class="row">
      <div class="col-md-8 offset-2">
<a style="cursor:pointer" (click)="returnBack()"><Back</a>

    
<h2>Update Recipe</h2>

<br>
<h5 *ngIf="isOkay"> {{ message }}</h5>

<form [formGroup] = "recipeForm" (ngSubmit)="onSubmit()">
    
<div class="form-group">
    <label for="Name">Name</label>
    <input
    type="text"
    id="name"
    class="form-control"
    placeholder="Enter recipe name"
    formControlName = "Name">
</div>
<div class="form-group">
    <label for="Name">Prep Time</label>
                  <input
                  type="text"
                  id="prepTime"
                  class="form-control"
                  placeholder="Enter preparing time"
                  formControlName = "PrepTime">
</div>
<div class="form-group">
    <label for="Name">Cooking Time</label>
                  <input
                  type="text"
                  id="prepTime"
                  class="form-control"
                  placeholder="Enter cooking time"
                  formControlName = "CookingTime">
</div>
<div class="row" formArrayName="Ingredients">
  <div class="col-md-12" *ngFor="let ingredientCtrl of recipeForm.get('Ingredients').controls; let i = index"
  [formGroupName]="i">
      <div class="row">
          <div class="col-md-9" 
          >
            <div class="form-group" >
                <input
                            type="text"
                            class="form-control"
                            formControlName="Name">
            </div>
          </div>
          <div class="col-md-2">
              <div class="form-group">
                  <input
                  type="text"
                  class="form-control"
                  formControlName="Quantity">
              </div>
          </div>
          <div class="col-md-1">
              <div class="form-group">
                  <button
                  type="button"
                  (click) = "onDeleteIngredient(i)"
                  class="btn btn-danger"
                  >X</button>
              </div>
          </div>
          <input type="hidden"
          formControlName="Id">
      </div>
  </div>
  
</div>
  <button type="button" class="btn btn-success" (click)="addIngredient()">Add Ingredient!</button>
  <br>
  <hr>
  <button type="submit" class="btn btn-success"
    [disabled]="!recipeForm.valid">Save</button>
    <button type="button" class="btn btn-danger" (click)="returnBack()">Cancel</button>
</form>

<br>
<h3 *ngIf="isAdded"> {{ confirmMessage }}</h3>
</div>
</div>
</div>
