<div class="container">
    <div class="row">
      <div class="col-md-8 offset-2">
          <a style="cursor:pointer" (click)="returnBack()">
            <Back
          </a>
        <ul class="list-group">
          <li class="list-group-item">
            <div class="pull-left">
                <h5>{{ recipe?.Name | uppercase }}</h5>
                
                <span class="font-italic">Preparing Time: {{ recipe?.PrepTime }}</span>
                | <span class="font-italic">Cooking Time: {{ recipe?.CookingTime }}</span>
            </div>
          <div class="pull-right">
              <button class="btn" [routerLink]="['../','edit',recipe.Id]"><i class="fa fa-edit"></i></button>
              <button class="btn" (click) = "deleteRecipe(recipe.Id)"><i class="fa fa-trash"></i></button>
          </div>
          <div class="clearfix"></div>
          <h5>Ingredients</h5>
          
          <div *ngIf="ingredients?.length === 0">
              There is no ingredient yet!
          </div>
          <ul>
            <li *ngFor="let ingredient of ingredients" >
              Name: {{ ingredient.Name }} | Quantity: {{ ingredient.Quantity}}
            </li>
          </ul>
          
        </li>
        </ul>
      </div>
    </div>
  </div>
  