<div class="container">
  <div class="row">
    
    <div class="col-md-8 offset-2">
      <button class="btn btn-success" style="margin:15px 0px 0px 0px"routerLink = "/recipe/new">Add New Recipe!</button>
      <hr> 
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let recipe of recipes">
          <div class="pull-left">
              <h5>{{ recipe.Name | uppercase }}</h5>
              
              <span class="font-italic">Preparing Time: {{ recipe.PrepTime }}</span>
              | <span class="font-italic">Cooking Time: {{ recipe.CookingTime }}</span>
          </div>
        <div class="pull-right">
          <button class="btn" [routerLink]="['recipe',recipe.Id]"><i class="fa fa-eye"></i></button>
        </div></li>
      </ul>
    </div>
  </div>
</div>
